{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div>
            <h1 class="text-center" style="margin-top: 100px;">{{hellowrod}}</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document" accept="image/png, image/jpeg" class="form-control" style="margin-top: 100px;">
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;"> Find Product </button>
        </form>

        {% if onsearch %}
        <div class="text-center">
            <img src="{{onsearch}}" class="rounded searched" alt="on Search Image" style="height:300px;">
            <p>The image that being searched</p>
            <style>
                .searched {
                    border: 1px solid #ccc;
                    border-bottom-width: 0;
                }
            </style>
        </div>
        <div class="wf-container">
            {% for img in images %}
            <div class="wf-box">
                <a href="{% static img %}">
                    <img src="{% static img %}" alt={{img}}>
                    <div class="content">
                        <h3>Product Name</h3>
                        <p>Content Here</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

{% endblock content %}